[project]
	description = Simple test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DommiB
[access "refs/for/refs/*"]
	read = group user/DommiB
	push = group user/DommiB
	label-Code-Review = -2..+2 group user/DommiB
	label-Verified = -1..+1 group user/DommiB
	rebase = group user/DommiB
	removeReviewer = group user/DommiB
	submit = group user/DommiB
[access "refs/heads/*"]
	read = group user/DommiB
	create = group user/DommiB
	push = +force group user/DommiB
	pushMerge = group user/DommiB
[access "refs/tags/*"]
	push = +force group user/DommiB
	pushTag = group user/DommiB
	pushSignedTag = group user/DommiB
